body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

p .top {
	float: left;
	margin-right: 10px;
}

p .bottom {
	float: right;
	margin-left: 10px;
}

p .picture {
	width:300px;
	margin-top: 10px;
}

p .top .bottom {
	margin-bottom: 10px;
	margin-top: 10px;
}

